为什么 TCP 协议有性能问题

https://draveness.me/whys-the-design-tcp-performance/

为什么 TCP 协议有性能问题 by draveness
------
<article class="article"><h1 class="article-title">为什么 TCP 协议有性能问题</h1><span class="article-date">2020-01-02</span><a class="article-tag" href="https://draveness.me/tags/%E4%B8%BA%E4%BB%80%E4%B9%88%E8%BF%99%E4%B9%88%E8%AE%BE%E8%AE%A1">为什么这么设计</a><a class="article-tag" href="https://draveness.me/tags/%E7%B3%BB%E7%BB%9F%E8%AE%BE%E8%AE%A1">系统设计</a><a class="article-tag" href="https://draveness.me/tags/tcp">TCP</a><a class="article-tag" href="https://draveness.me/tags/udp">UDP</a><a class="article-tag" href="https://draveness.me/tags/quic">QUIC</a><a class="article-tag" href="https://draveness.me/tags/%E6%85%A2%E5%90%AF%E5%8A%A8">慢启动</a><a class="article-tag" href="https://draveness.me/tags/%E6%8B%A5%E5%A1%9E%E6%8E%A7%E5%88%B6">拥塞控制</a><a class="article-tag" href="https://draveness.me/tags/%E4%B8%89%E6%AC%A1%E6%8F%A1%E6%89%8B">三次握手</a><div class="article-content"><blockquote><p>为什么这么设计（Why’s THE Design）是一系列关于计算机领域中程序设计决策的文章，我们在这个系列的每一篇文章中都会提出一个具体的问题并从不同的角度讨论这种设计的优缺点、对具体实现造成的影响。如果你有想要了解的问题，可以在文章下面留言。</p></blockquote><p>TCP 协议可以说是今天互联网的基石，作为可靠的传输协议，在今天几乎所有的数据都会通过 TCP 协议传输，然而 TCP 在设计之初没有考虑到现今复杂的网络环境，当你在地铁上或者火车上被断断续续的网络折磨时，你可能都不知道这一切可能都是 TCP 协议造成的。本文会分析 TCP 协议为什么在弱网环境下有严重的性能问题<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup>。</p><blockquote><p>注：本文的分析基于 <a href="https://tools.ietf.org/html/rfc793">RFC 793</a><sup id="fnref:2"><a href="#fn:2" class="footnote-ref" role="doc-noteref">2</a></sup> 中定义的 TCP 协议，从 RFC 793 发布至今已经过了将近 40 年，期间多个状态为 Proposed Standard 的非强制性 RFC 都对 TCP 协议进行了修订，尝试优化 TCP 协议的性能，例如：选择性 ACK（Selective ACK, SACK）<sup id="fnref:3"><a href="#fn:3" class="footnote-ref" role="doc-noteref">3</a></sup>、虚假超时剖析（Forward RTO, F-RTO）<sup id="fnref:4"><a href="#fn:4" class="footnote-ref" role="doc-noteref">4</a></sup> 和 TCP 快开启（TCP Fast Open, TFO）<sup id="fnref:5"><a href="#fn:5" class="footnote-ref" role="doc-noteref">5</a></sup>，最新版本的 Linux 中已经包含了这些 RFC 的实现。</p></blockquote><p>底层的数据传输协议在设计时必须要对带宽的利用率和通信延迟进行权衡和取舍，所以想要解决实际生产中的全部问题是不可能的，TCP 选择了充分利用带宽，为流量而设计，期望在尽可能短的时间内传输更多的数据<sup id="fnref:6"><a href="#fn:6" class="footnote-ref" role="doc-noteref">6</a></sup>。</p><blockquote><p>在网络通信中，从发送方发出数据开始到收到来自接收方的确认的时间被叫做往返时延（Round-Trip Time，RTT）。</p></blockquote><p>弱网环境是丢包率较高的特殊场景，TCP 在类似场景中的表现很差，当 RTT 为 30ms 时，一旦丢包率达到了 2%，TCP 的吞吐量就会下降 89.9%<sup id="fnref:7"><a href="#fn:7" class="footnote-ref" role="doc-noteref">7</a></sup>，从下面的表中我们可以看出丢包对 TCP 的吞吐量极其显著的影响：</p><table><thead><tr><th align="center">RTT</th><th align="center">TCP 吞吐量</th><th align="center">TCP 吞吐量（2% 丢包率）</th></tr></thead><tbody><tr><td align="center">0 ms</td><td align="center">93.5 Mbps</td><td align="center">3.72 Mbps</td></tr><tr><td align="center">30 ms</td><td align="center">16.2 Mbps</td><td align="center">1.63 Mbps</td></tr><tr><td align="center">60 ms</td><td align="center">8.7 Mbps</td><td align="center">1.33 Mbps</td></tr><tr><td align="center">90 ms</td><td align="center">5.32 Mbps</td><td align="center">0.85 Mbps</td></tr></tbody></table><p>本文将分析在弱网环境下（丢包率高）影响 TCP 性能的三个原因：</p><ul><li>TCP 的拥塞控制算法会在丢包时主动降低吞吐量；</li><li>TCP 的三次握手增加了数据传输的延迟和额外开销；</li><li>TCP 的累计应答机制导致了数据段的传输；</li></ul><p>在上述的三个原因中，拥塞控制算法是导致 TCP 在弱网环境下有着较差表现的首要原因，三次握手和累计应答两者的影响依次递减，但是也加剧了 TCP 的性能问题。</p><h2 id="拥塞控制">拥塞控制</h2><p>TCP 拥塞控制算法是互联网上主要的拥塞控制措施，它使用一套基于线増积减（Additive increase/multiplicative decrease，AIMD）的网络拥塞控制方法来控制拥塞<sup id="fnref:8"><a href="#fn:8" class="footnote-ref" role="doc-noteref">8</a></sup>，也是造成 TCP 性能问题的主要原因。</p><p>第一次发现的互联网拥塞崩溃是在 1986 年，NSFnet 阶段一的骨干网的处理能力从 32,000bit/s 降到了 40bit/s，该骨干网的处理能力直到 1987 和 1988 年，TCP 协议实现了拥塞控制之后才得到解决<sup id="fnref:9"><a href="#fn:9" class="footnote-ref" role="doc-noteref">9</a></sup>。正是因为发生过网络阻塞造成的崩溃，所以 TCP 的拥塞控制算法就认为只要发生了丢包当前网络就发生了拥堵，从这一假设出发，TCP 最初的实现 Tahoe 和 Reno 就使用了慢启动和拥塞避免两个机制<sup id="fnref:10"><a href="#fn:10" class="footnote-ref" role="doc-noteref">10</a></sup>实现拥塞控制，本节中对拥塞控制的分析就是基于这个版本的实现。</p><p><img src="https://img.draveness.me/2020-01-02-15779393353394-tcp-congestion-control.png" alt="tcp-congestion-control"></p><p><strong>图 1 - TCP 拥塞控制</strong></p><p>每一个 TCP 连接都会维护一个拥塞控制窗口（Congestion Window），它决定了发送方同时能向接收方发送多少数据，其作用主要有两个：</p><ol><li>防止发送方向接收方发送了太多数据，导致接收方无法处理；</li><li>防止 TCP 连接的任意一方向网络中发送大量数据，导致网络拥塞崩溃；</li></ol><p>除了拥塞窗口大小（cwnd）之外，TCP 连接的双方都有接收窗口大小（rwnd），在 TCP 连接建立之初，发送方和接收方都不清楚对方的接收窗口大小，所以通信双方需要一套动态的估算机制改变数据传输的速度，在 TCP 三次握手期间，通信双方会通过 ACK 消息通知对方自己的接收窗口大小，接收窗口大小一般是带宽延迟乘积（Bandwidth-delay product, BDP）决定的<sup id="fnref:11"><a href="#fn:11" class="footnote-ref" role="doc-noteref">11</a></sup>，不过在这里我们就不展开介绍了。</p><p>客户端能够同时传输的最大数据段的数量是接收窗口大小和拥塞窗口大小的最小值，即 <code>min(rwnd, cwnd)</code>。TCP 连接的初始拥塞窗口大小是一个比较小的值，在 Linux 中是由 <code>TCP_INIT_CWND</code> 定义的<sup id="fnref:12"><a href="#fn:12" class="footnote-ref" role="doc-noteref">12</a></sup>：</p><div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-c" data-lang="c"><span style="color:#75715e">/* TCP initial congestion window as per rfc6928 */</span><span style="color:#75715e">#define TCP_INIT_CWND		10</span></code></pre></div><p>初始拥塞控制窗口的大小从出现之后被多次修改，几个名为 Increasing TCP’s Initial Window 的 RFC 文档：RFC2414<sup id="fnref:13"><a href="#fn:13" class="footnote-ref" role="doc-noteref">13</a></sup>、RFC3390<sup id="fnref:14"><a href="#fn:14" class="footnote-ref" role="doc-noteref">14</a></sup> 和 RFC6928<sup id="fnref:15"><a href="#fn:15" class="footnote-ref" role="doc-noteref">15</a></sup> 分别增加了 <code>initcwnd</code> 的值以适应不断提高的网络传输速度和带宽。</p><p>TCP 协议使用慢启动阈值（Slow start threshold, ssthresh）来决定使用慢启动或者拥塞避免算法：</p><ul><li>当拥塞窗口大小小于慢启动阈值时，使用慢启动；</li><li>当拥塞窗口大小大于慢启动阈值时，使用拥塞避免算法；</li><li>当拥塞窗口大小等于慢启动阈值时，使用慢启动或者拥塞避免算法；</li></ul><p><img src="https://img.draveness.me/2020-01-08-15784189191423-tcp-slow-start.png" alt="tcp-slow-start"></p><p><strong>图 2 - TCP 的慢启动</strong></p><p>如上图所示，使用 TCP 慢启动时，发送方每收到一个响应方的 ACK 消息，拥塞窗口大小就会加一。当拥塞窗口大小大于慢启动阈值时，就会使用拥塞避免算法：</p><ol><li><strong>线性增长</strong>：每经过一个往返时间 RTT，拥塞窗口大小会加一；</li><li><strong>积式减少</strong>：当发送方发送的数据包丢包时，慢启动阈值会设置为拥塞窗口大小的一半；</li></ol><p>TCP 的早期实现 Tahoe 和 Reno 在遇到丢包时会将拥塞控制大小重置为初始值<sup id="fnref:16"><a href="#fn:16" class="footnote-ref" role="doc-noteref">16</a></sup>，由于拥塞窗口大小小于慢启动阈值，所以重新进入慢启动阶段。</p><p>如果 TCP 连接刚刚建立，由于 Linux 系统的默认设置，客户端能够同时发送 10 个数据段，假设我们网络的带宽是 10M，RTT 是 40ms，每个数据段的大小是 1460 字节，那么使用 BDP 计算的通信双方窗口大小上限应该是 35，这样才能充分利用网络的带宽：</p><p>$$rwnd^{max} = \frac{10 \times 10^6 bit/s \cdot 40 \times 10^{-3}s}{1460 * 8 bit} = 35$$</p><p>然而拥塞控制窗口的大小从 10 涨到 35 需要 2RTT 的时间，具体的过程如下：</p><ol><li>发送方向接收方发送 <code>initcwnd = 10</code> 个数据段（消耗 0.5RTT）；</li><li>接收方接收到 10 个数据段后向发送方发送 ACK（消耗 0.5RTT）；</li><li>发送方接收到发送方的 ACK，拥塞控制窗口大小由于 10 个数据段的成功发送 +10，当前拥塞控制窗口大小达到 20；</li><li>发送方向接收方发送 20 个数据段（消耗 0.5RTT）；</li><li>接收方接收到 20 个数据段后向发送方发送 ACK（消耗 0.5RTT）；</li><li>发送方接收到发送方的 ACK，拥塞控制窗口大小由于 20 个数据段的成功发送 +20，当前拥塞控制窗口大小达到 40；</li></ol><p>从 TCP 三次握手建立连接到拥塞控制窗口大小达到假定网络状况的最大值 35 需要 3.5RTT 的时间，即 140ms，这是一个比较长的时间了。</p><p>早期互联网的大多数计算设备都通过有线网络连接，出现网络不稳定的可能性也比较低，所以 TCP 协议的设计者认为丢包意味着网络出现拥塞，一旦发生丢包，客户端疯狂重试就可能导致互联网的拥塞崩溃，所以发明了拥塞控制算法来解决该问题。</p><p>但是如今的网络环境更加复杂，无线网络的引入导致部分场景下的网络不稳定成了常态，所以丢包并不一定意味着网络拥堵，如果使用更加激进的策略传输数据，在一些场景下会得到更好的效果。</p><h2 id="三次握手">三次握手</h2><p>TCP 使用三次握手建立连接应该是全世界所有工程师都十分了解的知识点，三次握手的主要目的是避免历史错误连接的建立并让通信的双方确定初始序列号<sup id="fnref:17"><a href="#fn:17" class="footnote-ref" role="doc-noteref">17</a></sup>，然而三次握手的成本相当高，在不丢包的情况下，它需要建立 TCP 连接的双方进行三次通信。</p><p><img src="https://img.draveness.me/2020-01-02-15779393353419-basic-3-way-handshake.png" alt="basic-3-way-handshake"></p><p><strong>图 3 - 常见的 TCP 三次握手</strong></p><p>如果我们要从北京访问上海的服务器，由于北京到上海的直线距离约为 1000 多公里，而光速是目前通信速度的极限，所以 RTT 一定会大于 6.7ms：</p><p>$$RTT = 1,000,000m \div 300,000 m/ms \times 2 = 6.7ms$$</p><p>然而因为光在光纤中不是直线传播的，真正的传输速度会比光速慢 ~31%<sup id="fnref:18"><a href="#fn:18" class="footnote-ref" role="doc-noteref">18</a></sup>，而且数据需要在各种网络设备之间来回跳转，所以很难达到理论的极限值。在生产环境中从北京到上海的 RTT 大概在 40ms 左右，所以 TCP 建立连接所需要最短时间也需要 60ms（1.5RTT）。</p><p>在网络环境较差的地铁、车站等场景中，因为丢包率较高，客户端很难与服务端快速完成三次通信并建立 TCP 连接。当客户端长时间没有收到服务端的响应时，只能不断发起重试，随着请求次数逐渐增加，访问的延迟也会越来越高。</p><p>由于大多数的 HTTP 请求都不会携带大量的数据，未被压缩的请求和响应头大小在 ~200B 到 2KB 左右，而 TCP 三次握手带来的额外开销是 222 字节，其中以太网数据帧占 <code>3 * 14 = 42</code> 字节，IP 数据帧占 <code>3 * 20 = 60</code> 字节，TCP 数据帧约占 120 字节（三次握手的开销与请求和环境有关，具体值不固定）：</p><p><img src="https://img.draveness.me/2020-01-02-15779393353427-tcp-three-way-handshake-overhead.png" alt="tcp-three-way-handshake-overhead"></p><p><strong>图 4 - TCP 三次握手的额外开销</strong></p><p>虽然 TCP 不会为每一个发出的数据段建立连接，但是三次握手建立连接需要的成本还是相当高，不仅需要额外增加 1.5RTT 的网络延时，还需要增加 222 字节的额外开销，所以在弱网环境下，通过三次握手建立连接会加剧 TCP 的性能问题。</p><h2 id="重传机制">重传机制</h2><p>TCP 传输的可靠性是通过序列号和接收方的 ACK 来保证的，当 TCP 传输一个数据段时，它会将该数据段的副本放到重传队列上并开启计时器：</p><ul><li>如果发送方收到了该数据段对应的 ACK 响应，当前数据段就会从重传队列中删除；</li><li>如果发送方在计时器到期之间都没有收到该数据段对应的 ACK，就会重新发送当前数据段；</li></ul><p>TCP 的 ACK 机制可能会导致发送方重新传输接收方已经收到了数据段。TCP 中的 ACK 消息表示该消息之前的全部消息都已经被成功接收和处理，例如：</p><ol><li>发送方向接收方发送了序号为 1-10 的消息；</li><li>接收方向发送方发送 ACK 8 响应；</li><li>发送方认为序号为 1-8 的消息已经被成功接收；</li></ol><p>这种 ACK 的方式在实现上比较简单，更容易保证消息的顺序性，但是在以下情况可能会导致发送方重传已经接收的数据：</p><p><img src="https://img.draveness.me/2020-01-02-15779393353434-tcp-retransmission-all.png" alt="tcp-retransmission-all"></p><p><strong>图 5 - TCP 的重传策略</strong></p><p>如上图所示，接收方已经收到了序号为 2-5 的数据，但是由于 TCP ACK 的语义是<strong>当前数据段前的全部数据段都已经被接收和处理</strong>，所以接收方无法发送 ACK 消息，由于发送方没有收到 ACK，<strong>所有数据段</strong>对应的计时器就会超时并重新传输数据。在丢包较为严重的网络下，这种重传机制会造成大量的带宽浪费。</p><blockquote><p><a href="https://tools.ietf.org/html/rfc2581#page-6">RFC2581</a> 中提出的快速重传就会缓解上述问题，当接收方收到乱序的数据段时，会立刻发送三个连续的 ACK 触发发送方的重传。</p></blockquote><h2 id="总结">总结</h2><p>TCP 协议的一些设计在今天来看虽然仍然具有巨大的价值，但是并不能适用于所有场景。为了解决 TCP 的性能问题，目前业界有两种解决方案：</p><ol><li>使用 UDP 构建性能更加优异、更灵活的传输协议，例如：QUIC<sup id="fnref:19"><a href="#fn:19" class="footnote-ref" role="doc-noteref">19</a></sup> 等；</li><li>通过不同的手段优化 TCP 协议的性能，例如：选择性 ACK（Selective ACK, SACK），TCP 快开启（TCP Fast Open, TFO）；</li></ol><p>由于 TCP 协议在操作系统内核中，不利于协议的更新，所以第一种方案目前发展的更好，HTTP/3 就使用了 QUIC 作为传输协议<sup id="fnref:20"><a href="#fn:20" class="footnote-ref" role="doc-noteref">20</a></sup>。我们在这里重新回顾一下导致 TCP 性能问题的三个重要原因：</p><ul><li>TCP 的拥塞控制在发生丢包时会进行退让，减少能够发送的数据段数量，但是丢包并不一定意味着网络拥塞，更多的可能是网络状况较差；</li><li>TCP 的三次握手带来了额外开销，这些开销不只包括需要传输更多的数据，还增加了首次传输数据的网络延迟；</li><li>TCP 的重传机制在数据包丢失时可能会重新传输已经成功接收的数据段，造成带宽的浪费；</li></ul><p>TCP 协议作为互联网数据传输的基石可以说是当之无愧，虽然它确实在应对特殊场景时有些问题，但是它的设计思想有着非常多的借鉴意义并值得我们学习。</p><p>到最后，我们还是来看一些比较开放的相关问题，有兴趣的读者可以仔细思考一下下面的问题：</p><ul><li>QUIC 协议是能否保证丢包率较高时的传输性能？</li><li>除了 SACK 和 TFO 之外还有哪些手段可以优化 TCP 的性能？</li></ul><blockquote><p>如果对文章中的内容有疑问或者想要了解更多软件工程上一些设计决策背后的原因，可以在博客下面留言，作者会及时回复本文相关的疑问并选择其中合适的主题作为后续的内容。</p></blockquote><section class="footnotes" role="doc-endnotes"><hr><ol><li id="fn:1" role="doc-endnote"><p>TCP Selective Acknowledgment Options, October 1996 <a href="https://tools.ietf.org/html/rfc2018">https://tools.ietf.org/html/rfc2018</a> <a href="#fnref:1" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:2" role="doc-endnote"><p>RFC793 Transmission Control Protocol, September 1981 RFC793 <a href="https://tools.ietf.org/html/rfc793">https://tools.ietf.org/html/rfc793</a> <a href="#fnref:2" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:3" role="doc-endnote"><p>RFC2018 TCP Selective Acknowledgment Options, October 1996 <a href="https://tools.ietf.org/html/rfc2018">https://tools.ietf.org/html/rfc2018</a> <a href="#fnref:3" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:4" role="doc-endnote"><p>RFC5682 Forward RTO-Recovery (F-RTO): An Algorithm for Detecting Spurious Retransmission Timeouts with TCP, September 2009 <a href="https://tools.ietf.org/html/rfc5682">https://tools.ietf.org/html/rfc5682</a> <a href="#fnref:4" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:5" role="doc-endnote"><p>RFC7413 TCP Fast Open, December 2014 <a href="https://tools.ietf.org/html/rfc7413">https://tools.ietf.org/html/rfc7413</a> <a href="#fnref:5" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:6" role="doc-endnote"><p>KCP - A Fast and Reliable ARQ Protocol <a href="https://github.com/skywind3000/kcp">https://github.com/skywind3000/kcp</a> <a href="#fnref:6" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:7" role="doc-endnote"><p>Measuring Network Performance: Links Between Latency, Throughput and Packet Loss <a href="https://accedian.com/enterprises/blog/measuring-network-performance-latency-throughput-packet-loss/">https://accedian.com/enterprises/blog/measuring-network-performance-latency-throughput-packet-loss/</a> <a href="#fnref:7" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:8" role="doc-endnote"><p>Wikipedia: TCP congestion control <a href="https://en.wikipedia.org/wiki/TCP_congestion_control">https://en.wikipedia.org/wiki/TCP_congestion_control</a> <a href="#fnref:8" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:9" role="doc-endnote"><p>Wikipedia: Network congestion <a href="https://en.wikipedia.org/wiki/Network_congestion#Congestive_collapse">https://en.wikipedia.org/wiki/Network_congestion#Congestive_collapse</a> <a href="#fnref:9" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:10" role="doc-endnote"><p>Wikipedia: Additive increase/multiplicative decrease <a href="https://en.wikipedia.org/wiki/Additive_increase/multiplicative_decrease">https://en.wikipedia.org/wiki/Additive_increase/multiplicative_decrease</a> <a href="#fnref:10" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:11" role="doc-endnote"><p>Bandwidth-delay product <a href="https://en.wikipedia.org/wiki/Bandwidth-delay_product">https://en.wikipedia.org/wiki/Bandwidth-delay_product</a> <a href="#fnref:11" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:12" role="doc-endnote"><p>TCP_INIT_CWND <a href="https://github.com/torvalds/linux/blob/738d2902773e30939a982c8df7a7f94293659810/include/net/tcp.h#L226">https://github.com/torvalds/linux/blob/738d2902773e30939a982c8df7a7f94293659810/include/net/tcp.h#L226</a> <a href="#fnref:12" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:13" role="doc-endnote"><p>RFC2414 Increasing TCP’s Initial Window <a href="https://tools.ietf.org/html/rfc2414">https://tools.ietf.org/html/rfc2414</a> <a href="#fnref:13" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:14" role="doc-endnote"><p>RFC3390 Increasing TCP’s Initial Window <a href="https://tools.ietf.org/html/rfc3390">https://tools.ietf.org/html/rfc3390</a> <a href="#fnref:14" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:15" role="doc-endnote"><p>RFC6928 Increasing TCP’s Initial Window <a href="https://tools.ietf.org/html/rfc6928">https://tools.ietf.org/html/rfc6928</a> <a href="#fnref:15" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:16" role="doc-endnote"><p>Kurose, James; Ross, Keith. Computer Networking – A Top-Down Approach 4th. Addison Wesley. 2008. ISBN 978-0-13-607967-5. p. 284. <a href="#fnref:16" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:17" role="doc-endnote"><p>为什么 TCP 建立连接需要三次握手, October 2019 <a href="https://draveness.me/whys-the-design-tcp-three-way-handshake">https://draveness.me/whys-the-design-tcp-three-way-handshake</a> <a href="#fnref:17" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:18" role="doc-endnote"><p>Researchers create fiber network that operates at 99.7% speed of light, smashes speed and latency records, March 2013 <a href="https://www.extremetech.com/computing/151498-researchers-create-fiber-network-that-operates-at-99-7-speed-of-light-smashes-speed-and-latency-records">https://www.extremetech.com/computing/151498-researchers-create-fiber-network-that-operates-at-99-7-speed-of-light-smashes-speed-and-latency-records</a> <a href="#fnref:18" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:19" role="doc-endnote"><p>Wikiepedia: QUIC <a href="https://en.wikipedia.org/wiki/QUIC">https://en.wikipedia.org/wiki/QUIC</a> <a href="#fnref:19" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:20" role="doc-endnote"><p>HTTP-over-QUIC to be renamed HTTP/3, November 2018 <a href="https://www.zdnet.com/article/http-over-quic-to-be-renamed-http3/">https://www.zdnet.com/article/http-over-quic-to-be-renamed-http3/</a> <a href="#fnref:20" class="footnote-backref" role="doc-backlink">↩︎</a></p></li></ol></section><img src="https://img.draveness.me/2020-03-11-15839264230785-wechat-qr-code.png" alt="wechat-account-qrcode"><h3>转载申请</h3><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://img.draveness.me/creative-commons.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可，转载时请注明原文链接，图片在使用时请保留全部内容，可适当缩放并在引用处附上图片所在的文章链接。<h3>文章图片</h3>你可以在 <a href="/sketch-and-sketch">技术文章配图指南</a> 中找到画图的方法和素材。</div></article>