你不在意的HTTPS证书吊销机制

https://zhuanlan.zhihu.com/p/75475419

你不在意的HTTPS证书吊销机制 by 陈小鱼
------
<div class="Post-RichTextContainer"><div class="RichText ztext Post-RichText"><h2>缘起</h2><p>偶刷《长安十二时辰》，午睡时，梦到我穿越到了唐朝，在长安城中的靖安司，做了一天的靖安司司丞。</p><p>当徐宾遇害消失的时候我不在司内，当时的情形我不得而知。后来徐宾醒了，据他描述说“通传陆三”是暗桩，险些致徐宾于死地。而擅长大案牍术的高智商人才居然被一个普通通传的几句话骗至险境，实在丢了我的脸。</p><p class="ztext-empty-paragraph"><br></p><figure data-size="normal"><noscript><img src="https://pic1.zhimg.com/v2-55d6302f3e0b37523559fa05381e8c8c_b.jpg" data-caption="" data-size="normal" data-rawwidth="2038" data-rawheight="864" class="origin_image zh-lightbox-thumb" width="2038" data-original="https://pic1.zhimg.com/v2-55d6302f3e0b37523559fa05381e8c8c_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='2038'%20height='864'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="2038" data-rawheight="864" class="origin_image zh-lightbox-thumb lazy" width="2038" data-original="https://pic1.zhimg.com/v2-55d6302f3e0b37523559fa05381e8c8c_r.jpg" data-actualsrc="https://pic1.zhimg.com/v2-55d6302f3e0b37523559fa05381e8c8c_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><p>陆三是通传，熟知靖安司的号令传递系统<code>望楼信号</code>，他是暗桩的消息，传遍整个机构。这让张小敬和姚汝能认为<code>望楼系统</code>已无法完成消息保密传送的功能，其实他们根本不了解这望楼。<br></p><figure data-size="normal"><noscript><img src="https://pic3.zhimg.com/v2-be02c6554f0221230f6c9a422457fbe2_b.jpg" data-caption="" data-size="normal" data-rawwidth="1808" data-rawheight="1080" class="origin_image zh-lightbox-thumb" width="1808" data-original="https://pic3.zhimg.com/v2-be02c6554f0221230f6c9a422457fbe2_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1808'%20height='1080'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1808" data-rawheight="1080" class="origin_image zh-lightbox-thumb lazy" width="1808" data-original="https://pic3.zhimg.com/v2-be02c6554f0221230f6c9a422457fbe2_r.jpg" data-actualsrc="https://pic3.zhimg.com/v2-be02c6554f0221230f6c9a422457fbe2_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><p>整个望楼系统由“传递系统+加密系统”组成，靖安司作为一个军事级别的机构，信息传递绝对是多重加密的。只看懂望楼图案，或者只有密码本都是破译不了密码的，对于通传陆三是暗桩的影响，也只需要更换密码本即可。这些可是我学了RSA非对称加密后设计的望楼系统，早就评估过这些风险了。<br>即使HTTPS通讯中，丢了密钥也…</p><p>嗯？如果HTTPS证书私钥丢了，会怎样？是不是也没法防范这个私钥被利用了？</p><p>想到这个问题，我突然从梦中惊醒，去温故一下证书吊销机制。</p><h2>疑问</h2><ul><li>HTTPS的证书过期是谁来判断？</li><li>证书的合法性又是谁检查的呢？</li><li>什么时候触发?</li><li>影响性能吗?</li><li>如何吊销证书?</li><li>HTTPS的请求是客户端（浏览器）发起的，他是如何知道证书被吊销的？</li><li>验证HTTPS证书的过程是什么样的？</li></ul><h2>HTTPS 通讯过程</h2><p>大家都清楚，HTTPS的握手是在TCP握手完成后，流程都熟的很，但还是要温故一下：<br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-3c2f568abd0a9b19f65abcd360e8c481_b.jpg" data-size="normal" data-rawwidth="1530" data-rawheight="1272" class="origin_image zh-lightbox-thumb" width="1530" data-original="https://pic2.zhimg.com/v2-3c2f568abd0a9b19f65abcd360e8c481_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1530'%20height='1272'&gt;&lt;/svg&gt;" data-size="normal" data-rawwidth="1530" data-rawheight="1272" class="origin_image zh-lightbox-thumb lazy" width="1530" data-original="https://pic2.zhimg.com/v2-3c2f568abd0a9b19f65abcd360e8c481_r.jpg" data-actualsrc="https://pic2.zhimg.com/v2-3c2f568abd0a9b19f65abcd360e8c481_b.jpg"><figcaption>大图：https://www.cnxct.com/cfc4n/ssl_handshake.svg</figcaption></figure><ol><li>第一个阶段，完成 Client Hello、Server Hello等握手。包含使用SSL版本、服务器和客户端的随机数、密码套件、数据压缩等参数响应。</li><li>第二阶段服务端把域名证书的公钥下发给浏览器（客户端），浏览器（客户端）校验证书合法性</li><li>第三阶段客户端把自己的证书发送给服务端（证书登陆的情况下），服务端检测客户端证书等。</li><li>完成密钥协商、对称加密密钥交换。</li></ol><p>（简称解释：RN: Random Number；PMS: Pre Master Secret；MS: Master Secre）</p><p>对于证书检验这块，相信很多人都不太了解，甚至都不知道会检验什么内容，那么下面我们就来了解一下。</p><h2>证书完整性验证</h2><p>使用RAS公钥加密来验证证书上的签名是否合法，如果签名无效，则可认定证书被修改，直接报错。</p><h2>证书有效性验证</h2><p>CA在颁发证书时，都为每个证书设定了有效期。包括开始时间与结束时间。系统当前时间不在证书起止时间的话，都认为证书是无效的。</p><h2>证书吊销状态检测</h2><p>如果，证书在有效期之内需要丢了怎么办？需要吊销证书了，那么这里就多了一个证书吊销状态的检测。用户将需要吊销的证书通知到CA服务商，CA服务商通知浏览器该证书的撤销状态。</p><p>来看一个证书吊销后的浏览器提醒<br></p><figure data-size="normal"><noscript><img src="https://pic1.zhimg.com/v2-6391177759673bb1c2feb28be1acf38c_b.jpg" data-caption="" data-size="normal" data-rawwidth="1688" data-rawheight="1300" class="origin_image zh-lightbox-thumb" width="1688" data-original="https://pic1.zhimg.com/v2-6391177759673bb1c2feb28be1acf38c_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1688'%20height='1300'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1688" data-rawheight="1300" class="origin_image zh-lightbox-thumb lazy" width="1688" data-original="https://pic1.zhimg.com/v2-6391177759673bb1c2feb28be1acf38c_r.jpg" data-actualsrc="https://pic1.zhimg.com/v2-6391177759673bb1c2feb28be1acf38c_b.jpg"></figure><p><br>Chrome返回了NET::ERR_CERT_REVOKED，并且拒绝继续访问，更不提供强制访问的接口，没了<code>继续访问</code>的手动点击链接。</p><h3>验证发行者</h3><p>HTTPS数字证书的使用分两个角色</p><ul><li>证书发行方issuer，有签名密钥的私钥</li><li>证书申请方subject，使用证书公钥进行身份验证的用户<br>浏览器检查证书的发行者字段与证书路径中上级证书的Suject字段相同。</li></ul><p>为了增加安全性，大多数PKI实现还验证发型方的密钥、签名跟当前证书的密钥相同。 但对于信任链来说，根证书自己签发的，也就是说它们的issuer和subject是一样的。</p><p>同时，这些CA根证书都是被操作系统、浏览器等直接打入系统的。比如<br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-b06a4a5e777683dd3f3ee206ce0f936d_b.jpg" data-caption="" data-size="normal" data-rawwidth="1934" data-rawheight="1292" class="origin_image zh-lightbox-thumb" width="1934" data-original="https://pic2.zhimg.com/v2-b06a4a5e777683dd3f3ee206ce0f936d_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1934'%20height='1292'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1934" data-rawheight="1292" class="origin_image zh-lightbox-thumb lazy" width="1934" data-original="https://pic2.zhimg.com/v2-b06a4a5e777683dd3f3ee206ce0f936d_r.jpg" data-actualsrc="https://pic2.zhimg.com/v2-b06a4a5e777683dd3f3ee206ce0f936d_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><h3>检查域名(IP)规范</h3><p>中间CA提供了对<code>域名证书</code>的管理以及颁发颁发的颗粒度度控制。证书的生效范围会限于固定域名、域名范围（包括子域）或者<code>固定IP</code>。 比如下图是<code>https://www.baidu.com</code>的HTTPS证书DNS信息<br></p><figure data-size="normal"><noscript><img src="https://pic3.zhimg.com/v2-d20ac95f4a70b8432e0a4745c496a7ee_b.jpg" data-caption="" data-size="normal" data-rawwidth="972" data-rawheight="1524" class="origin_image zh-lightbox-thumb" width="972" data-original="https://pic3.zhimg.com/v2-d20ac95f4a70b8432e0a4745c496a7ee_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='972'%20height='1524'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="972" data-rawheight="1524" class="origin_image zh-lightbox-thumb lazy" width="972" data-original="https://pic3.zhimg.com/v2-d20ac95f4a70b8432e0a4745c496a7ee_r.jpg" data-actualsrc="https://pic3.zhimg.com/v2-d20ac95f4a70b8432e0a4745c496a7ee_b.jpg"></figure><p><br>上图所示，DNS范围包含了多个域名，同时二级以及二级以上域名都支持范围形式。以<code>*</code>通配义字符表示。但<code>*.example.com</code>的二级域名范围就不能包含<code>a.b.example.com</code>这个三级域名。同时，DNS范围也支持IP的，只是IP不支持范围形式，必须把所有IP列表都放入列表中。</p><h3>检查策略约束</h3><p>法律策略相关检测（略）。</p><h2>证书的吊销状态检测方式</h2><p>上面提到了浏览器（客户端）在验证证书合法性时的验证范围，我们暂时只关注证书吊销信息的检测，下面我们仔细来了解一下两种检测机制的实现原理。</p><h2>Certificate Revocation Lists (CRL)</h2><p>CA会定期更新发布撤销证书列表，Certificate Revocation Lists (以下简称CRL)，RFC 5280：<a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/rfc5280" class=" wrap external" target="_blank" rel="nofollow noreferrer"> Internet X.509 Public Key Infrastructure Certificate and Certificate Revocation List (CRL) Profile</a>。 CRL分布在公共可用的存储库中，浏览器可以在验证证书时获取并查阅CA的最新CRL。</p><p>该方法的一个缺陷是撤销的时间粒度限于CRL发布期。只有在计划更新所有当前发布的CRL之后，才会通知浏览器撤销。<br>各家签名CA厂商的策略不一样，有的是几小时，有的是几天，甚至几周。</p><p>2015年，美国几所大学的学生论文中，统计了当时的CA证书吊销情况，如下图：<br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-20857ba5f673f840a0e822ef67fe15ad_b.jpg" data-caption="" data-size="normal" data-rawwidth="1416" data-rawheight="782" class="origin_image zh-lightbox-thumb" width="1416" data-original="https://pic2.zhimg.com/v2-20857ba5f673f840a0e822ef67fe15ad_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1416'%20height='782'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1416" data-rawheight="782" class="origin_image zh-lightbox-thumb lazy" width="1416" data-original="https://pic2.zhimg.com/v2-20857ba5f673f840a0e822ef67fe15ad_r.jpg" data-actualsrc="https://pic2.zhimg.com/v2-20857ba5f673f840a0e822ef67fe15ad_b.jpg"></figure><p><br>这个统计可以看出，CA证书厂商的CRL数量不一，大部分是30-50个，而GoDaddy有300多个CRL的地址，同时有近30W个证书是吊销状态的，文件大小平均达到了1M。</p><h3>证书的CRL信息</h3><p>CRL信息是CA在颁发证书时，写入在X.509 v的扩展区域的，比如<a href="https://link.zhihu.com/?target=http%3A//alipay.com" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">http://</span><span class="visible">alipay.com</span><span class="invisible"></span></a>的证书信息：<br></p><figure data-size="normal"><noscript><img src="https://pic4.zhimg.com/v2-da3c4b2a915aefac3eba47bc6732bec3_b.jpg" data-caption="" data-size="normal" data-rawwidth="968" data-rawheight="1054" class="origin_image zh-lightbox-thumb" width="968" data-original="https://pic4.zhimg.com/v2-da3c4b2a915aefac3eba47bc6732bec3_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='968'%20height='1054'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="968" data-rawheight="1054" class="origin_image zh-lightbox-thumb lazy" width="968" data-original="https://pic4.zhimg.com/v2-da3c4b2a915aefac3eba47bc6732bec3_r.jpg" data-actualsrc="https://pic4.zhimg.com/v2-da3c4b2a915aefac3eba47bc6732bec3_b.jpg"></figure><p><br>可以看到，其CRL信息为<code>http://crl3.digicert.com/SecureSiteCAG2.crl</code> 以及<code>http://crl4.digicert.com/SecureSiteCAG2.crl</code></p><h3>CRL 检测流程</h3><p class="ztext-empty-paragraph"><br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-853df33f4a828a362753694af7afd751_b.jpg" data-caption="" data-size="normal" data-rawwidth="278" data-rawheight="177" class="content_image" width="278"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='278'%20height='177'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="278" data-rawheight="177" class="content_image lazy" width="278" data-actualsrc="https://pic2.zhimg.com/v2-853df33f4a828a362753694af7afd751_b.jpg"></figure><p><br>可以想象一下，在浏览器去校验证书合法性时，还要去下载一个1M的文件后，再去校验。校验通过后才去连想要访问的网站服务器，这相当浪费时间、效率。<br>同时，很多浏览器所处网络是有网络访问限制的，可能在一个局域网，比如<code>我们村</code>，或者物理距离非常远，存在严重的网络延迟问题。</p><h2>Online Certificate Status Protocol (OCSP)</h2><p>为了解决单个文件大，延迟性高等问题，迎来了新的解决方案Onlie Certificate StatusOCSP（以下简称OCSP）。</p><p>在RFC2560<a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/rfc2560" class=" wrap external" target="_blank" rel="nofollow noreferrer">X.509 Internet Public Key Infrastructure Online Certificate Status Protocol – OCSP</a>的描述中，浏览器从在线OCSP服务器（也称为OCSP Response Server）请求证书的撤销状态，OCSP Server予以响应。这种方法避免CRL更新延迟问题。同样的，X.509 v3证书的OCSP信息也是存储在拓展信息中，如alipay.com证书那张图的绿色框内部分。</p><h2>OCSP 检测流程</h2><p class="ztext-empty-paragraph"><br></p><figure data-size="normal"><noscript><img src="https://pic4.zhimg.com/v2-6080527e551c0ca30770975a21d7245b_b.jpg" data-caption="" data-size="normal" data-rawwidth="278" data-rawheight="177" class="content_image" width="278"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='278'%20height='177'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="278" data-rawheight="177" class="content_image lazy" width="278" data-actualsrc="https://pic4.zhimg.com/v2-6080527e551c0ca30770975a21d7245b_b.jpg"></figure><p><br>浏览器在获得Web服务器的公钥证书后，开始验证公钥的合法性，这里会向该公钥的扩展信息中提供的OCSP Server地址发送OCSP Response，获得响应后，确认证书有效，再继续跟Web服务器通信。</p><h3>OCSP的优点</h3><p>相对于CRL方式，证书吊销后，CA Server可以立刻将吊销信息发送给浏览器，生效时间快。响应包内容短，不像CRL的响应包，都将近1M以上。</p><h3>OCSP的缺点</h3><ul><li>浏览器的每次HTTPS请求创建，都需要连接CA OCSP Server进行验证，有的浏览器所在IP与CA OCSP Server的网络并不是通畅的，比如<code>我们村</code>。而且，OCSP的验证有网络IO，花费了很长的时间，严重影响了浏览器访问服务器的用户体验。</li><li>在浏览器发送服务器HTTPS证书序号到CA OCSP Server时，也将暴露了用户的隐私，将用户访问的网址透漏给了CA OCSP Server。</li></ul><h3>OCSP机制衍生出来的问题</h3><p>设想一个场景，你是浏览器企业，研发的浏览器在检查证书吊销状态时，得不到OCSP server的响应，你会如何选择？</p><ul><li>如果你选择拒绝该证书信息，并且拒绝后续的HTTPS通讯，那么这个方式称之为<code>Hard-fail</code></li><li>如果你选择信任该证书，认为没有被吊销，那么这个方式称之为<code>Soft-fail</code></li></ul><p>如果是<code>hard-fail</code>模式，那浏览器对任何HTTPS服务器访问的先决条件都取决于OCSP Server，这将是一个致命的<code>单点故障</code>，对于具有资深架构设计经验的你来说，你会这么选择吗？</p><p>如果是<code>soft-fail</code>模式，取不到OCSP Server的响应就忽略了，那么，要这个机制还有啥意义呢？要你有何用？</p><h2>OCSP Stapling</h2><p>OCSP Stapling的方案是解决了CRL、OCSP的缺点，将通过OCSP Server获取证书吊销状况的过程交给Web 服务器来做，Web 服务器不光可以直接查询OCSP信息，规避<code>网络访问限制</code>、<code>OCSP服务器离用户的物理距离较远</code>等问题，还可以将查询响应缓存起来，给其他浏览器使用。由于OCSP的响应也是具备CA RSA私钥签名的，所以不用担心伪造问题。</p><ul><li>解决了访问慢的问题</li><li>解决了用户隐私泄露的问题</li></ul><p class="ztext-empty-paragraph"><br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-d6c800b6d4d10b9149740c46f92040dd_b.jpg" data-caption="" data-size="normal" data-rawwidth="1191" data-rawheight="862" class="origin_image zh-lightbox-thumb" width="1191" data-original="https://pic2.zhimg.com/v2-d6c800b6d4d10b9149740c46f92040dd_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1191'%20height='862'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1191" data-rawheight="862" class="origin_image zh-lightbox-thumb lazy" width="1191" data-original="https://pic2.zhimg.com/v2-d6c800b6d4d10b9149740c46f92040dd_r.jpg" data-actualsrc="https://pic2.zhimg.com/v2-d6c800b6d4d10b9149740c46f92040dd_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><p>通讯过程如上，但对于Web服务器在去OCSP Server查询证书状态时，也同样面临无法获取到OCSP Response的问题，在响应给浏览器时，浏览器也还是要面临<code>hard-fail</code>、<code>soft-fail</code>的选择问题，这很让浏览器头大。</p><h2>OCSP Must-Staple</h2><p>面对<code>hard-fail</code>、<code>soft-fail</code>的问题，各家浏览器厂商的态度都不一样。同时，不管浏览器如何选择，都不能满足广大域名用户的需求，那么不如把这个选择交给域名用户自己。</p><p>为此，<code>OCSP Must-Staple</code>应然而生了，浏览器必须检测OCSP响应。域名证书创建时，自定义设定启用这个选项，将这个信息打入X.509 v3的扩展中，浏览器读取后，强制进行OCSP检测，走<code>hard-fail</code>模式。这个规范被起草在 <a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/draft-hallambaker-muststaple-00" class=" wrap external" target="_blank" rel="nofollow noreferrer">X.509v3 Extension: OCSP Stapling Required draft-hallambaker-muststaple-00</a> ，不过，暂未被采纳为RFC标准。</p><h3>CA厂商支持</h3><p>目前支持该扩展的证书的CA厂商有<code>Let's Encrypt</code>。<br>如果使用的是openssl 1.1.0 以前的版本，可以使用<code>11.3.6.1.5.5.7.1.24 = DER:30:03:02:01:05</code> 来指定。<a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/rfc7299%23section-3.4" class=" wrap external" target="_blank" rel="nofollow noreferrer">RFC</a><br>比如生成csr的时候，在openssl.cnf中增加：</p><div class="highlight"><pre><code class="language-text">[v3_req ]basicConstraints = CA:FALSEkeyUsage = nonRepudiation, digitalSignature, keyEnciphermentsubjectAltName = @alt_names1.3.6.1.5.5.7.1.24 = DER:30:03:02:01:05</code></pre></div><p>如果是使用openssl 1.1.0或更高的版本，可以这样设置：</p><div class="highlight"><pre><code class="language-text">[ v3_req ]basicConstraints = CA:FALSEkeyUsage = nonRepudiation, digitalSignature, keyEnciphermentsubjectAltName = @alt_namestlsfeature = status_request</code></pre></div><h2>各平台上浏览器对证书吊销的支持情况</h2><h3>Mac Safari</h3><p>在Mac OS X 10.7 (Lion)以后，Safari/macOS默认情况下，不检测CRLs、OCSP，走自己的key chain体系。（资料比较少，apple官方也搜不到几条）</p><h3>Windows Internet Explorer</h3><p>Windows Vista系统开始，Internet Explorer 7浏览器内置了CryptoAPI，来支持OCSP方式检测证书吊销情况。检测范围包括<code>issuer发行商的证书</code>、<code>subject服务器的证书</code>。<br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-7d45c77aa899302dc6db6e8b83d96379_b.jpg" data-caption="" data-size="normal" data-rawwidth="1100" data-rawheight="1230" class="origin_image zh-lightbox-thumb" width="1100" data-original="https://pic2.zhimg.com/v2-7d45c77aa899302dc6db6e8b83d96379_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1100'%20height='1230'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1100" data-rawheight="1230" class="origin_image zh-lightbox-thumb lazy" width="1100" data-original="https://pic2.zhimg.com/v2-7d45c77aa899302dc6db6e8b83d96379_r.jpg" data-actualsrc="https://pic2.zhimg.com/v2-7d45c77aa899302dc6db6e8b83d96379_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><p>为什么IE访问HTTPS的网站时，会比别的浏览器慢？你应该已经知道答案了。</p><h3>Mozilla Firefox</h3><p>在2010年时，Mozilla Firefox的所有版本都支持OCSP方式检测。在Firefox 3里把OCSP检测机制设定为默认机制。<br>在以后的版本更新中，Firefox针对<code>中级证书</code>跟<code>域名证书</code>做了不同的策略</p><h3>中级证书的吊销状态验证</h3><p>在2015年，<a href="https://link.zhihu.com/?target=https%3A//blog.mozilla.org/security/2015/03/03/revoking-intermediate-certificates-introducing-onecrl/" class=" wrap external" target="_blank" rel="nofollow noreferrer">Firefox 37</a>开始，针对<code>中级证书</code>的检测，Mozilla也启用了自研的证书吊销状况检查机制<a href="https://link.zhihu.com/?target=https%3A//wiki.mozilla.org/CA/Revocation_Checking_in_Firefox%23OneCRL" class=" wrap external" target="_blank" rel="nofollow noreferrer">OneCRL</a>来代替OCSP机制，目的还是想解决CRL、OCSP机制的缺点。 而中级证书是不能采用OCSP stapling方式，不允许被缓存的。所以…</p><p>还有，</p><blockquote><a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/rfc6961" class=" wrap external" target="_blank" rel="nofollow noreferrer">RFC 6961</a> defines a mechanism for stapling OCSP responses for CA certificates. Since FIrefox does not rely on OCSP to validate intermediate certificates, we have no plans to implement support for this.</blockquote><p>Firefox 官方短期内并无支持Multi-staple的打算。</p><h3>域名证书的吊销状态验证</h3><p>在Firefox的官方<a href="https://link.zhihu.com/?target=https%3A//wiki.mozilla.org/CA/Revocation_Checking_in_Firefox" class=" wrap external" target="_blank" rel="nofollow noreferrer">WIKI</a>上，提到针对域名证书的吊销验证分为如下5个方案：</p><ol><li>Short-Lived Certificates ，默认情况下，针对有效期少于10天的证书，直接跳过验证，认为不安全。可以在security.pki.cert_short_lifetime_in_days参数里配置。</li><li>OCSP Stapling，跟RFC规范一样。如果security.OCSP.enabled的值为0，则忽略OCSP response。</li><li>OCSP Must-staple，跟RFC规范一样。可以通过设置security.ssl.enable_ocsp_must_staple或security.ssl.enable_ocsp_stapling 参数来禁用。</li><li>OCSP，跟RFC规范一样。如果OCSP的响应在2秒（EV证书是10秒）内没返回，则直接忽略。</li><li>CRLite 类似Chrome CRLSets的一种检测机制，用于OCSP、OCSP stapling失败后的机制。Firefox的官方计划把这种机制作来代替CRL方式作为主要的检测机制（OCSP\OCSP stapling失败后）。</li></ol><h3>chrome</h3><p>2012年，Chrome禁用了CRLs、OCSP检测: <a href="https://link.zhihu.com/?target=https%3A//www.pcworld.com/article/249525/google_chrome_will_no_longer_check_for_revoked_ssl_certificates_online.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">Google Chrome Will No Longer Check for Revoked SSL Certificates Online</a>，使用了自行设计的证书校验机制 <a href="https://link.zhihu.com/?target=http%3A//dev.chromium.org/Home/chromium-security/crlsets" class=" wrap external" target="_blank" rel="nofollow noreferrer">CRLSets</a></p><p>那么，Chrome这么选择的理由是什么呢？</p><p>显然，通过上面CRL跟OCSP两种验证方式的比较来看，前者时效性不行，后者影响性能。那么，google Chrome就决定自建证书吊销状态验证系统。</p><p>Chrome的安全工程师Adam Langley在他的BLOG上写了一篇文章：《<a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2012/02/05/crlsets.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">Revocation checking and Chrome’s CRL</a>》，</p><p>对于Chrome的HTTPS证书验证这块，Adam Langley可是非常有看法的，非常反对使用CRL、OCSP的方式来校验证书吊销状态，连续写了好几篇关于证书吊销状态检测的文章，同时，也在chromium的开发者主页上的安全板块有提到：<a href="https://link.zhihu.com/?target=https%3A//dev.chromium.org/Home/chromium-security/security-faq" class=" wrap external" target="_blank" rel="nofollow noreferrer">What’s the story with certificate revocation?</a></p><blockquote>Chrome’s primary mechanism for checking the revocation status of HTTPS certificates is CRLsets.<br>Chrome also supports Online Certificate Status Protocol (OCSP). However, the effectiveness of OCSP is is essentially 0 unless the client fails hard (refuses to connect) if it cannot get a live, valid OCSP response. No browser has OCSP set to hard-fail by default, for good reasons explained by Adam Langley (see [Revocation still doesn’t work](No, don’t enable revocation checking) and <a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2014/04/19/revchecking.html" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">https://www.</span><span class="visible">imperialviolet.org/2014</span><span class="invisible">/04/19/revchecking.html</span><span class="ellipsis"></span></a>).<br>Stapled OCSP with the Must Staple option (hard-fail if a valid OCSP response is not stapled to the certificate) is a much better solution to the revocation problem than non-stapled OCSP. CAs and browsers are working toward that solution (see the Internet-Draft: <a href="https://link.zhihu.com/?target=http%3A//tools.ietf.org/html/draft-hallambaker-tlssecuritypolicy-03" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">http://</span><span class="visible">tools.ietf.org/html/dra</span><span class="invisible">ft-hallambaker-tlssecuritypolicy-03</span><span class="ellipsis"></span></a>).<br>Additionally, non-stapled OCSP poses a privacy problem: in order to check the status of a certificate, the client must query an OCSP responder for the status of the certificate, thus exposing a user’s HTTPS browsing history to the responder (a third party).<br>That said, you can use enterprise policies to enable soft-fail OCSP (<a href="https://link.zhihu.com/?target=http%3A//www.chromium.org/administrators/policy-list-3%23EnableOnlineRevocationChecks" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">http://www.</span><span class="visible">chromium.org/administra</span><span class="invisible">tors/policy-list-3#EnableOnlineRevocationChecks</span><span class="ellipsis"></span></a>) and hard-fail OCSP for local trust anchors (<a href="https://link.zhihu.com/?target=http%3A//www.chromium.org/administrators/policy-list-3%23RequireOnlineRevocationChecksForLocalAnchors" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">http://www.</span><span class="visible">chromium.org/administra</span><span class="invisible">tors/policy-list-3#RequireOnlineRevocationChecksForLocalAnchors</span><span class="ellipsis"></span></a>).<br>Chrome performs online checking for Extended Validation certificates if it does not already have a non-expired CRLSet entry covering the domain. If Chrome does not get a response, it simply downgrades the security indicator to Domain Validated.<br>See also this bug for more discussion of the user-facing UX: <a href="https://link.zhihu.com/?target=https%3A//crbug.com/361820" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">https://</span><span class="visible">crbug.com/361820</span><span class="invisible"></span></a>.</blockquote><p>但这也不是完美解决了这个问题，来自<a href="https://link.zhihu.com/?target=https%3A//www.grc.com/revocation/crlsets.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">An Evaluation of the Effectiveness of Chrome’s CRLSets</a></p><blockquote>This means that Chrome’s CRLSet, which currently lists the serial numbers of 24,206 revoked certificates, reflects only 1.08% of the revoked certificates collected by Websense in one hour.</blockquote><p>这篇文章中提到CRLSet的最大问题是包含的证书吊销数据太少，个别情况下占了主流CRL证书吊销信息的2%不到。而且，CRLSets的更新也不是那么及时，chrome为了用户体验，为了性能，为了用户隐私，牺牲了一点点安全性，也是可以理解的。但好像对不起<code>最安全浏览器</code>的称号了。[手动狗头] </p><h3>汇总</h3><p class="ztext-empty-paragraph"><br></p><figure data-size="normal"><noscript><img src="https://pic1.zhimg.com/v2-916cab1d7aa7059d48b78c6cf4273e00_b.jpg" data-caption="" data-size="normal" data-rawwidth="2866" data-rawheight="1670" class="origin_image zh-lightbox-thumb" width="2866" data-original="https://pic1.zhimg.com/v2-916cab1d7aa7059d48b78c6cf4273e00_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='2866'%20height='1670'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="2866" data-rawheight="1670" class="origin_image zh-lightbox-thumb lazy" width="2866" data-original="https://pic1.zhimg.com/v2-916cab1d7aa7059d48b78c6cf4273e00_r.jpg" data-actualsrc="https://pic1.zhimg.com/v2-916cab1d7aa7059d48b78c6cf4273e00_b.jpg"></figure><p><br>如上图，在2015年，Northeastern University、University of Maryland、Duke University等几所大学的研究人员分析了市场上流行的五个浏览器（多个平台、多个版本），把各个浏览器在不同级别证书下的支持情况绘制了表格。（论文在参考文献中给出）</p><p>从图中可以看出，我们印象中最安全的浏览器Chrome表现却让你大跌眼镜，在HTTPS的安全性这块，表现最差。上面我们也谈到，chrome为了访问速度隐私等用户体验考虑，忽略了CRL、OCSP等证书吊销状态检测机制，牺牲了TLS这块的安全性支持。</p><p>而IE浏览器却出乎我们意料，在HTTPS的安全性这块，支持的非常好，可以说是这几个浏览器中最安全的了，可是…可是他网页打开速度慢啊… </p><p>截至至今天（2019年7月16日），已经4年过去了，很多浏览器、WebServer的支持情况也有很大的变化，并不能反映出当下互联网的现状，这些数据也作为参考吧。</p><h2>附：WebServer的支持情况</h2><ul><li>The Apache web server has supported OCSP stapling since v2.3.3 (<a href="https://link.zhihu.com/?target=http%3A//httpd.apache.org/docs/trunk/mod/mod_ssl.html%23sslusestapling" class=" wrap external" target="_blank" rel="nofollow noreferrer">ref</a>).</li><li>The nginx web server has supported OCSP stapling since v1.3.7 (<a href="https://link.zhihu.com/?target=http%3A//nginx.org/en/docs/http/ngx_http_ssl_module.html%23ssl_stapling" class=" wrap external" target="_blank" rel="nofollow noreferrer">ref</a>).</li></ul><h2>总结</h2><h2>证书泄露的危害</h2><p>那么，证书丢了，会对网站安全产生很大影响吗？</p><p>回头看下使用该证书的条件</p><ul><li>具备证书</li><li>具备域名</li><li>浏览器访问该服务器</li></ul><p>如果几个都具备，那么你就是该网站的官方了。</p><p>在安全界，有个攻击手段，叫<a href="https://link.zhihu.com/?target=https%3A//en.wikipedia.org/wiki/Man-in-the-middle_attack" class=" wrap external" target="_blank" rel="nofollow noreferrer">Man-in-the-middle attack中间人攻击</a>，如果证书被黑客拿到，搭建一个具备相同域名的网站，通过DNS污染的方式使得用户浏览器方位该域名，那么可以成为一个反向代理，把用户的请求解析后，伪造程客户端来跟真实的Web服务器通讯，从而获取双方通信的明文信息，达到攻击的目的。<br></p><figure data-size="normal"><noscript><img src="https://pic3.zhimg.com/v2-2573bf5dc6c8727a3483da3fc1c1eac2_b.jpg" data-caption="" data-size="normal" data-rawwidth="1848" data-rawheight="860" class="origin_image zh-lightbox-thumb" width="1848" data-original="https://pic3.zhimg.com/v2-2573bf5dc6c8727a3483da3fc1c1eac2_r.jpg"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='1848'%20height='860'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="1848" data-rawheight="860" class="origin_image zh-lightbox-thumb lazy" width="1848" data-original="https://pic3.zhimg.com/v2-2573bf5dc6c8727a3483da3fc1c1eac2_r.jpg" data-actualsrc="https://pic3.zhimg.com/v2-2573bf5dc6c8727a3483da3fc1c1eac2_b.jpg"></figure><p class="ztext-empty-paragraph"><br></p><p>那这种情况怎么防范？中间人攻击的防御方式是开启客户端对证书的认证，但你的证书私钥又丢了，那能咋办？</p><p>通过本文前面章节的了解到，这种情况，也只能去 主动到CA厂商那申请证书吊销了，不管有几个浏览器支持，也得申请，毕竟，这损失能减少一点是一点。</p><h2>证书泄露了怎么办？</h2><p>证书泄露了怎么办？从浏览器的支持情况来看，好像及时申请吊销了证书，也不能对丢失的证书起到太大的防范作用，很多浏览器并不是很支持的嘛。</p><p>不过，多少也能避免一些损失，毕竟IE浏览器对这块的支持力度还是很大的嘛。</p><h2>注</h2><p>本文的参考文献，大部分都是5-6年前的资料，这么多年过去了，互联网技术产品日新月异，里面很多结论早已不符合现状，尤其是浏览器当今对证书吊销状态检测的支持情况。部分内容，仅作为参考，便于读者去了解技术变迁的背景知识。</p><p>本文会持续修正文中错别字、排版、错误数据等，建议回到原文阅读。<br></p><figure data-size="normal"><noscript><img src="https://pic2.zhimg.com/v2-57813d650ed5ab28fd8e890d8d03fb49_b.jpg" data-caption="" data-size="normal" data-rawwidth="260" data-rawheight="260" class="content_image" width="260"></noscript><img src="data:image/svg+xml;utf8,&lt;svg%20xmlns='http://www.w3.org/2000/svg'%20width='260'%20height='260'&gt;&lt;/svg&gt;" data-caption="" data-size="normal" data-rawwidth="260" data-rawheight="260" class="content_image lazy" width="260" data-actualsrc="https://pic2.zhimg.com/v2-57813d650ed5ab28fd8e890d8d03fb49_b.jpg"></figure><p>原文地址：<a href="https://link.zhihu.com/?target=https%3A//www.cnxct.com/browsers-and-certificate-validation/%3Ff%3Dzhihu-article" class=" wrap external" target="_blank" rel="nofollow noreferrer">你不在意的HTTPS证书吊销机制</a></p><h2>立个flag</h2><p>过段时间，把整个X.509 v3的知识点都整理一下，做个内部分享？<br>PEM、CRT、PFX、PKCS#7、PKCS#12、pfx、DER、JKS、KDB、CER、KEY、CSR、CRT、CRL都是什么？<br>ASN.1 又是什么？<br>立起？   </p><h2>招聘</h2><ul><li>macOS技术专家</li><li>Java高级工程师<br>详情见<a href="https://link.zhihu.com/?target=https%3A//www.cnxct.com/jobs/" class=" external" target="_blank" rel="nofollow noreferrer"><span class="invisible">https://www.</span><span class="visible">cnxct.com/jobs/</span><span class="invisible"></span></a></li></ul><h2>参考文献</h2><ul><li><a href="https://link.zhihu.com/?target=https%3A//tools.ietf.org/html/rfc3280" class=" wrap external" target="_blank" rel="nofollow noreferrer">RFC3280 Internet X.509 Public Key Infrastructure Certificate</a></li><li><a href="https://link.zhihu.com/?target=https%3A//blog.cloudflare.com/high-reliability-ocsp-stapling/" class=" wrap external" target="_blank" rel="nofollow noreferrer">High-reliability OCSP stapling and why it matters</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.grc.com/revocation/ocsp-must-staple.htm" class=" wrap external" target="_blank" rel="nofollow noreferrer">Security Certificate Revocation AwarenessThe case for “OCSP Must-Staple”</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.grc.com/revocation/implementations.htm" class=" wrap external" target="_blank" rel="nofollow noreferrer">Security Certificate Revocation AwarenessSpecific Implementations</a></li><li><a href="https://link.zhihu.com/?target=https%3A//devcentral.f5.com/s/articles/security-sidebar-my-browser-has-no-idea-your-certificate-was-just-revoked-19963" class=" wrap external" target="_blank" rel="nofollow noreferrer">Security Sidebar: My Browser Has No Idea Your Certificate Was Just Revoked</a></li><li><a href="https://link.zhihu.com/?target=https%3A//medium.com/%40alexeysamoshkin/how-ssl-certificate-revocation-is-broken-in-practice-af3b63b9cb3" class=" wrap external" target="_blank" rel="nofollow noreferrer">SSL certificate revocation and how it is broken in practice</a></li><li><a href="https://link.zhihu.com/?target=https%3A//blog.mozilla.org/security/2015/03/03/revoking-intermediate-certificates-introducing-onecrl/" class=" wrap external" target="_blank" rel="nofollow noreferrer">Revoking Intermediate Certificates: Introducing OneCRL</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2011/03/18/revocation.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">Revocation doesn’t work (18 Mar 2011)</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2012/02/05/crlsets.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">Revocation checking and Chrome’s CRL (05 Feb 2012)</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2014/04/19/revchecking.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">No, don’t enable revocation checking (19 Apr 2014)</a></li><li><a href="https://link.zhihu.com/?target=https%3A//www.imperialviolet.org/2014/04/29/revocationagain.html" class=" wrap external" target="_blank" rel="nofollow noreferrer">Revocation still doesn’t work (29 Apr 2014)</a></li><li><a href="https://link.zhihu.com/?target=https%3A//image.cnxct.com/2019/07/revocations_imc15.pdf" class=" wrap external" target="_blank" rel="nofollow noreferrer">An End-to-End Measurement of Certificate Revocation in the Web’s PKI</a></li></ul><h2>结束</h2><p>嗯？话说《长安十二时辰》中望楼消息传送机制的加固呢？<br>嗨，梦都醒了，谁还记得这事啊。</p></div></div>