为什么 TCP/IP 协议会拆分数据

https://draveness.me/whys-the-design-tcp-segment-ip-packet/

为什么 TCP/IP 协议会拆分数据 by draveness
------
<article class="article"><h1 class="article-title">为什么 TCP/IP 协议会拆分数据</h1><span class="article-date">2020-02-12</span><a class="article-tag" href="https://draveness.me/tags/%E4%B8%BA%E4%BB%80%E4%B9%88%E8%BF%99%E4%B9%88%E8%AE%BE%E8%AE%A1">为什么这么设计</a><a class="article-tag" href="https://draveness.me/tags/%E7%B3%BB%E7%BB%9F%E8%AE%BE%E8%AE%A1">系统设计</a><a class="article-tag" href="https://draveness.me/tags/tcp">TCP</a><a class="article-tag" href="https://draveness.me/tags/ip">IP</a><a class="article-tag" href="https://draveness.me/tags/udp">UDP</a><a class="article-tag" href="https://draveness.me/tags/mtu">MTU</a><a class="article-tag" href="https://draveness.me/tags/mss">MSS</a><div class="article-content"><blockquote><p>为什么这么设计（Why’s THE Design）是一系列关于计算机领域中程序设计决策的文章，我们在这个系列的每一篇文章中都会提出一个具体的问题并从不同的角度讨论这种设计的优缺点、对具体实现造成的影响。如果你有想要了解的问题，可以在文章下面留言。</p></blockquote><p>TCP/IP 协议簇建立了互联网通信协议的概念模型，该协议簇的两个主要协议就是 TCP 和 IP 协议。这两个协议不仅能够保证数据会从源机器的源进程发送到目标机器的目标进程中，还能保证数据的不重不漏以及发送的顺序<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup>。</p><p><img src="https://img.draveness.me/2020-02-12-15814868931848-tcp-ip.jpg" alt="tcp-ip"></p><p><strong>图 1 - TCP/IP 协议簇</strong></p><p>当应用层协议使用 TCP/IP 协议传输数据时，TCP/IP 协议簇可能会将应用层发送的数据分成多个包依次发送，而数据的接收方收到的数据可能是分段的或者拼接的，所以它需要对接收的数据进行拆分或者重组。本文会分别从 IP 协议和 TCP 协议两个角度出发分析为什么应用层写入的数据包会被 TCP/IP 协议拆分发送：</p><ul><li>IP 协议会分片传输过大的数据包（Packet）避免物理设备的限制；</li><li>TCP 协议会分段传输过大的数据段（Segment）保证传输的性能；</li></ul><h2 id="最大传输单元">最大传输单元</h2><p>IP 协议是用于传输数据包的协议，作为网络层协议，它能提供数据的路由和寻址功能，让数据通过网络到达目的地<sup id="fnref:2"><a href="#fn:2" class="footnote-ref" role="doc-noteref">2</a></sup>。不同设备之间传输数据前，需要先确定一个 IP 数据包的大小上限，即最大传输单元（Maximum transmission unit，即 MTU），MTU 是 IP 数据包能够传输的数据上限。</p><p>MTU 的值不是越大越好，更大的 MTU 意味着更低的额外开销，更小的 MTU 意味着更低的网络延迟。每一个物理设备都有自己的 MTU，两个主机之间的 MTU 依赖于底层的网络能力，它由整个链路上 MTU 最小的物理设备决定<sup id="fnref:3"><a href="#fn:3" class="footnote-ref" role="doc-noteref">3</a></sup>，如下图所示，网络路径的 MTU 由 MTU 最小的红色物理设备决定，即 1000：</p><p><img src="https://img.draveness.me/2020-02-12-15814868931881-path-mtu-discovery.png" alt="path-mtu-discovery"></p><p><strong>图 2 - 路径最大传输单元发现</strong></p><p>路径最大传输单元发现（Path MTU Discovery，PMTUD）是用来确定两个主机传输路径 MTU 的机制，它的工作原理如下<sup id="fnref:4"><a href="#fn:4" class="footnote-ref" role="doc-noteref">4</a></sup>：</p><ol><li>向目的主机发送 IP 头中 DF 控制位为 1 的数据包，DF 是不分片（Don’t Fragment，DF）的缩写；</li><li>路径上的网络设备根据数据包的大小和自己的 MTU 做出不同的决定：<ol><li>如果数据包大于设备的 MTU，就会丢弃数据包并发回一个包含该设备 MTU 的 ICMP 消息；</li><li>如果数据包小于设备的 MTU，就会继续向目的主机传递数据包；</li></ol></li><li>源主机收到 ICMP 消息后，会不断使用新的 MTU 发送 IP 数据包，直到 IP 数据包达到目的主机；</li></ol><blockquote><p>ICMP 是互联网控制消息协议（Internet Control Message Protocol，ICMP），它能在 IP 主机之间传递控制消息<sup id="fnref:5"><a href="#fn:5" class="footnote-ref" role="doc-noteref">5</a></sup>。</p></blockquote><p>以太网对数据帧的限制一般都是 1500 字节<sup id="fnref:6"><a href="#fn:6" class="footnote-ref" role="doc-noteref">6</a></sup>，在一般情况下，IP 主机的路径 MTU 都是 1500，去掉 IP 首部的 20 字节，如果待传输的数据大于 1480 节，那么该 IP 协议就会将数据包分片传输。</p><p>IP 协议数据分片对传输层协议是透明的，假设我们使用 UDP 协议传输 2000 字节的数据，加上 UDP 8 字节的协议头<sup id="fnref:7"><a href="#fn:7" class="footnote-ref" role="doc-noteref">7</a></sup>，IP 协议需要传输 2008 字节的数据。如下图所示，当 IP 协议发现待传输的数据大于 1480 字节，就会将数据分成下面的两个数据包：</p><p><img src="https://img.draveness.me/2020-02-12-15814868931890-udp-ip-packet.png" alt="udp-ip-packet"></p><p><strong>图 3 - 分片传输的 UDP 数据</strong></p><ol><li>20 字节 IP 协议头 + 8 字节 UDP 协议头 + 1472 字节数据；</li><li>20 字节 IP 协议头 + 528 字节数据；</li></ol><p>数据的接收方在收到数据包时会对分片的数据进行重组，不过因为第二个数据包中不包含 UDP 协议的相关信息，一旦发生丢包，整个 UDP 数据报就无法重新拼装。如果 UDP 数据报需要传输的数据过多，那么 IP 协议就会大量分片，增加了不稳定性。</p><p>如果 IP 协议没有数据包大小的限制，那么上层可以以消息为单位传输数据，自然就不存在分片和组装的需求，不过因为物理设备的 MTU 限制，想要保证数据传输的可靠性和稳定性还需要传输层的配合。</p><h2 id="最大分段大小">最大分段大小</h2><p>TCP 协议是面向字节流的协议，应用层交给 TCP 协议的数据并不会以消息为单位向目的主机发送，应用层交给 TCP 协议发送的数据可能会被拆分到多个数据段中。</p><p>TCP 协议引入了最大分段大小（Maximum segment size，MSS）这一概念，它是 TCP 数据段能够携带的数据上限<sup id="fnref:8"><a href="#fn:8" class="footnote-ref" role="doc-noteref">8</a></sup>。在正常情况下，TCP 连接的 MSS 是 MTU - 40 字节<sup id="fnref:9"><a href="#fn:9" class="footnote-ref" role="doc-noteref">9</a></sup>，即 1460 字节；不过如果通信双方没有指定 MSS 的话，在默认情况下 MSS 的大小是 536 字节<sup id="fnref:10"><a href="#fn:10" class="footnote-ref" role="doc-noteref">10</a></sup>。</p><p>IP 协议的 MTU 是物理设备上的限制，它限制了路径能够发送数据包的上限，而 TCP 协议的 MSS 是操作系统内核层面的限制，通信双方会在三次握手<sup id="fnref:11"><a href="#fn:11" class="footnote-ref" role="doc-noteref">11</a></sup>时确定这次连接的 MSS。一旦确定了 MSS，TCP 协议就会对应用层交给 TCP 协议发送的数据进行拆分，构成多个数据段。</p><p>需要注意的是，IP 协议和 TCP 协议虽然都会对数据进行拆分，但是 IP 协议以数据包（Package）为单位组织数据，而 TCP 协议以数据段（Segment）为单位组织数据。</p><p>如下图所示，如果 TCP 连接的 MSS 是 1460 字节，应用层想要通过 TCP 协议传输 2000 字节的数据，那么 TCP 协议会根据 MSS 将 2000 字节的数据拆分到两个数据段中：</p><p><img src="https://img.draveness.me/2020-02-12-15814868931896-tcp-ip-packet.png" alt="tcp-ip-packet"></p><p><strong>图 4 - 分段传输的 TCP 数据</strong></p><ul><li>20 字节 IP 头 + 20 字节 TCP 头 + 1460 字节数据；</li><li>20 字节 IP 头 + 20 字节 TCP 头 + 540 字节数据；</li></ul><p>从应用层的角度来看，两个数据段中 2000 字节的数据构成了发送方想要发送的消息，但是 TCP 协议是面向字节流的，向协议写入的数据会以流的形式传递到对端。</p><p>TCP 协议为了保证可靠性，会通过 IP 协议的 MTU 计算出 MSS 并根据 MSS 分段避免 IP 协议对数据包进行分片。因为 IP 协议对数据包的分片对上层是透明的，如果协议不根据 MTU 做一些限制，那么 IP 协议的分片会导致部分数据包失去传输层协议头，一旦数据包发生丢失就只能丢弃全部数据。</p><p>我们可以通过一个例子分析 MSS 存在的必要性。如下图所示，假设 TCP 协议中不存在 MSS 的概念，因为每个数据段的大小没有上限，当 TCP 协议交给 IP 层发送两个 1600 字节（包括 IP 和 TCP 协议头）的数据包时，由于物理设备的限制，IP 协议的路径 MTU 为 1500 字节，所以 IP 协议会对数据包分片：</p><p><img src="https://img.draveness.me/2020-02-12-15814868931902-tcp-ip-packet-with-ip-fragmentation.png" alt="tcp-ip-packet-with-ip-fragmentation"></p><p><strong>图 4 - 分片传输的 TCP 数据</strong></p><p>四个数据包中只有两个会包含 TCP 协议头，即控制位、序列号等信息，剩下的两个数据包中不包含任何信息。当 IP 协议传输数据丢包时，TCP 协议无法的接收方没有办法对数据包进行重组，所以整个 TCP 数据段都需要重传，带来了更多额外的重传和重组开销。</p><h2 id="总结">总结</h2><p>数据拆分的根本原因说到底还是物理设备的限制，不过每一层协议都受限于下一层协议做出的决定，并依赖下层协议重新决定设计和实现的方法。虽然 TCP/IP 协议在传输数据时都需要对数据进行拆分，但是它们做出拆分数据的设计基于不同的上下文，也有着不同的目的，我们在这里总结一下两个网络协议做出类似决定的原因：</p><ul><li>IP 协议拆分数据是因为物理设备的限制，一次能够传输的数据由路径上 MTU 最小的设备决定，一旦 IP 协议传输的数据包超过 MTU 的限制就会发生丢包，所以我们需要通过路径 MTU 发现获取传输路径上的 MTU 限制；</li><li>TCP 协议拆分数据是为了保证传输的可靠性和顺序，作为可靠的传输协议，为了保证数据的传输顺序，它需要为每一个数据段增加包含序列号的 TCP 协议头，如果数据段大小超过了 IP 协议的 MTU 限制， 就会带来更多额外的重传和重组开销，影响性能。</li></ul><p>通过本文的分析，相信各位读者不仅了解了为什么 TCP/IP 协议会拆分数据，也了解了为什么 UDP 协议的数据报不应该超过 MTU - 28 字节，一旦超过该限制，IP 协议的分片机制会增加 UDP 数据报无法重组的可能性<sup id="fnref:12"><a href="#fn:12" class="footnote-ref" role="doc-noteref">12</a></sup>。到最后，我们还是来看一些比较开放的相关问题，有兴趣的读者可以仔细思考一下下面的问题：</p><ul><li>IP 协议的分片机制都会导致哪些问题？</li><li>TCP 连接双方是如何确定连接的 MSS？这个值是动态的么？</li></ul><blockquote><p>如果对文章中的内容有疑问或者想要了解更多软件工程上一些设计决策背后的原因，可以在博客下面留言，作者会及时回复本文相关的疑问并选择其中合适的主题作为后续的内容。</p></blockquote><h2 id="延伸阅读">延伸阅读</h2><ul><li><a href="https://draveness.me/whys-the-design-tcp-three-way-handshake">为什么 TCP 建立连接需要三次握手</a></li><li><a href="https://draveness.me/whys-the-design-tcp-performance">为什么 TCP 协议有性能问题</a></li><li><a href="https://draveness.me/whys-the-design-udp-minimum-header">为什么 UDP 头只有 8 个字节</a></li></ul><section class="footnotes" role="doc-endnotes"><hr><ol><li id="fn:1" role="doc-endnote"><p>Wikipedia: Internet protocol suite <a href="https://en.wikipedia.org/wiki/Internet_protocol_suite">https://en.wikipedia.org/wiki/Internet_protocol_suite</a> <a href="#fnref:1" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:2" role="doc-endnote"><p>What is the Internet Protocol? <a href="https://www.cloudflare.com/learning/ddos/glossary/internet-protocol/">https://www.cloudflare.com/learning/ddos/glossary/internet-protocol/</a> <a href="#fnref:2" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:3" role="doc-endnote"><p>Maximum transmission unit <a href="https://en.wikipedia.org/wiki/Maximum_transmission_unit">https://en.wikipedia.org/wiki/Maximum_transmission_unit</a> <a href="#fnref:3" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:4" role="doc-endnote"><p>Mogul, J. and S. Deering, “Path MTU discovery”, RFC 1191, DOI 10.17487/RFC1191, November 1990, <a href="https://www.rfc-editor.org/info/rfc1191">https://www.rfc-editor.org/info/rfc1191</a>. <a href="#fnref:4" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:5" role="doc-endnote"><p>Wikipedia: Internet Control Message Protocol <a href="https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol">https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol</a> <a href="#fnref:5" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:6" role="doc-endnote"><p>Postel, J. and J. Reynolds, “Standard for the transmission of IP datagrams over IEEE 802 networks”, STD 43, RFC 1042, DOI 10.17487/RFC1042, February 1988, <a href="https://www.rfc-editor.org/info/rfc1042">https://www.rfc-editor.org/info/rfc1042</a>. <a href="#fnref:6" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:7" role="doc-endnote"><p>为什么 UDP 头只有 8 个字节 <a href="https://draveness.me/whys-the-design-udp-minimum-header">https://draveness.me/whys-the-design-udp-minimum-header</a> <a href="#fnref:7" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:8" role="doc-endnote"><p>Wikipedia: Maximum segment size <a href="https://en.wikipedia.org/wiki/Maximum_segment_size">https://en.wikipedia.org/wiki/Maximum_segment_size</a> <a href="#fnref:8" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:9" role="doc-endnote"><p>Borman, D., “TCP Options and Maximum Segment Size (MSS)", RFC 6691, DOI 10.17487/RFC6691, July 2012, <a href="https://www.rfc-editor.org/info/rfc6691">https://www.rfc-editor.org/info/rfc6691</a>. <a href="#fnref:9" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:10" role="doc-endnote"><p>Braden, R., Ed., “Requirements for Internet Hosts - Communication Layers”, STD 3, RFC 1122, DOI 10.17487/RFC1122, October 1989, <a href="https://www.rfc-editor.org/info/rfc1122">https://www.rfc-editor.org/info/rfc1122</a>. <a href="#fnref:10" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:11" role="doc-endnote"><p>为什么 TCP 建立连接需要三次握手 <a href="https://draveness.me/whys-the-design-tcp-three-way-handshake">https://draveness.me/whys-the-design-tcp-three-way-handshake</a> <a href="#fnref:11" class="footnote-backref" role="doc-backlink">↩︎</a></p></li><li id="fn:12" role="doc-endnote"><p>How is the MTU is 65535 in UDP but ethernet does not allow frame size more than 1500 bytes <a href="https://serverfault.com/questions/246508/how-is-the-mtu-is-65535-in-udp-but-ethernet-does-not-allow-frame-size-more-than">https://serverfault.com/questions/246508/how-is-the-mtu-is-65535-in-udp-but-ethernet-does-not-allow-frame-size-more-than</a> <a href="#fnref:12" class="footnote-backref" role="doc-backlink">↩︎</a></p></li></ol></section><img src="https://img.draveness.me/2020-03-11-15839264230785-wechat-qr-code.png" alt="wechat-account-qrcode"><h3>转载申请</h3><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://img.draveness.me/creative-commons.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可，转载时请注明原文链接，图片在使用时请保留全部内容，可适当缩放并在引用处附上图片所在的文章链接。<h3>文章图片</h3>你可以在 <a href="/sketch-and-sketch">技术文章配图指南</a> 中找到画图的方法和素材。</div></article>